[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
six = "*"
spacy = "*"
joblib = "*"
jsonpickle = "*"
scikit-learn = "*"
numpy = "*"
pytest = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest-pep8 = "*"

[requires]
python_version = "3.6"

[packages.e1839a8]
path = "."
editable = true
