[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
six = "*"
spacy = "*"
joblib = "*"
jsonpickle = "*"
scikit-learn = "*"
numpy = "*"
deep-plots = "*"
text-classification-keras = {editable = true,path = "."}

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
mkdocs = "*"
python-markdown-math = "*"

[requires]
python_version = "3.6"
