[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
six = "*"
spacy = "*"
joblib = "*"
jsonpickle = "*"
scikit-learn = "*"
numpy = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pylint = "*"
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6"
